<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Key1" value="Value1" />
    <add key="Nested:Key1" value="NestedValue1" />
  </appSettings>
  <connectionStrings>
    <add name="Name1" connectionString="ConnectionString1" />
  </connectionStrings>
</configuration>
